header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.2em 0.5em;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  color: #f2f0e4;
}
.link__icon {
  color: black;
  width: 25px !important;
  height: 25px !important;
  margin: 0 0.2em;
}
